.about-intro{
    font-size:1.08rem;
    line-height:1.9;
    color:#dbeafe;
    text-align:center;
}

.about-image img{

    width:100%;
    height:480px;

    object-fit:cover;

    border-radius:22px;

    box-shadow:
    0 0 25px rgba(0,255,255,.25),
    0 0 50px rgba(139,92,246,.18);

    transition:.5s;
}

.about-image img:hover{

    transform:scale(1.03);

    box-shadow:
    0 0 35px rgba(0,255,255,.45),
    0 0 70px rgba(236,72,153,.25);

}

.section-heading{

    color:#00f5ff;

    font-family:'Orbitron',sans-serif;

    font-size:2rem;

    text-shadow:
    0 0 12px rgba(0,245,255,.6);

}